.venv
*.docx
!additional_context/additional_context.docx
fastapi_server/llm_output.txt
fastapi_server/images_english.json
fastapi_server/converted_document.md
fastapi_server/images
__pycache__
.terraform
.terraform.lock.hcl
fastapi_server/schema_generation_files
fastapi_server/markdown_common_schema.md
pgdata
logs
private.env
.DS_Store